// ------------------------- Colors ----------------------------- //
$primary-color: #009dff;
$accent-color: #ffa81c;
$accent-color-hover: #db8f15;
$base-color: #ffffff;
$text-color: #000000;

$button-color: #d9d9d9;
$button-close-color: #ff0000;
$button-close-hover: #b71c1c;
$calendar-color-nav: #727272;
$calendar-color: #d8d8d8;

// ------------------------- Typography ----------------------------- //
$primary-font: "Instrument Sans", serif;

// ------------------------- Margins ----------------------------- //
$margin: 1.5rem;
$margin-medium: 1rem;
$small-margin: 0.5rem;

//-------------------------Breakpoints-----------------------------//
$first-breakpoint: 38.0625em; //400px

$correct-1-breakpoint: 1200px;
$correct-2-breakpoint: 1000px;
$correct-3-breakpoint: 724px;
